* {
  box-sizing: border-box;
}

:root {
  --First-color: rgb(10, 159, 127);
  --Second-color:  rgb(7, 30, 39);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  background-color: var(--Second-color);
  padding: 6px 0px;
}

.name_board {
  display: inline-block;
  margin: 7px 0px;
  width: 230px;
  border-radius: 0px 25px 25px 0px;
  background-color: var(--First-color);
}

.name {
  display: flex;
  color: var(--Second-color);
  justify-content: flex-end;
  padding-right: 20px;
  margin: 3px;
}

.header_nav {
 float: right;
 margin-right: 100px;
}

.nav_text {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0px 14px;
  color: var(--First-color);
  justify-content: space-around;
  border-bottom: 3px solid;
}

.header_nav a {
  color: var(--First-color);
  text-decoration: none;
  font-size: 20px;
}


.hero-banner {
  background-image: url(/images/02-hero-bg.jpg);
  z-index: 1;
  width: 100%;
  height: 160px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-banner .text_background {
  width: 400px;
  height: 50px;
  border-radius: 60px;
  background-color: var(--First-color);
  position: absolute;
  bottom: 30px;
  right: 40px;
}

.hero-banner div h2 {
  text-align: center;
  margin: 7px 5px 6px 2px;
  width: 100%;
  z-index: 10;
}

.page-section {
  font-size: 36px;
}

.page-wrapper {
  display: grid;
  min-height: 900px;
  margin: 50px 0px;
  grid-template-columns: 25% 75%;
  grid-template-areas: 
  "about about_content"
  "work work_content"
  "contact contact_content" ;
}

#about {
  grid-area: about;
}

#about_content {
  grid-area: about_content;
}

#work {
  grid-area: work;
}

#work_content {
  grid-area: work_content;
}

#contact {
  grid-area: contact;
}

#contact_content {
  grid-area: contact_content;
}

.page-section {
border-right: 4px solid var(--Second-color);
margin: 20px;
}

.page-section h2 {
  float: right;
  margin-right: 15px;
  margin-left: 100px;
  text-align:right;
  width: auto;
  color: var(--Second-color);
}

.content_about {
  float: left;
  width: 90%;
  margin: 20px 15px;
  color: var(--Second-color);

}

#work_content {
  margin: 0px 5%;
  display: grid;
  grid-template-rows: 200px 200px 200px 200px;
  grid-template-columns: 50% 50%;
  grid-template-areas: 
  "surf surf"
  "surf surf"
  "led calculator"
  "pastel run";
}

#surf {
  grid-area: surf;
  background-image: url(/images/02-portfolio-1.jpg);
}

#led {
  grid-area: led;
  background: url(/images/02-portfolio-1.jpg);
}

#calculator {
  grid-area: calculator;
  background: url(/images/02-portfolio-2.jpg);
}

#pastel {
  grid-area: pastel;
  background: url(/images/02-portfolio-3.jpg);
}

#run {
  grid-area: run;
  background-image: url(/images/02-portfolio-4.jpg);
}

.workgridarea {
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  margin: 5px;
  cursor: pointer;
  display: grid;
  position: relative;
  align-content: end;
  border: 5px solid var(--First-color);

}

.workgridarea .subheading {
  width: auto;
  height: auto;
  padding: 0px 20px;
  text-align: left;
  position: absolute;
  bottom: 20px;
  background: var(--First-color);
  z-index: 100;
}

.workgridarea .subheading h5 {
  font-size: 19px;
  color: var(--Second-color);
}

.workgridarea .subheading h6 {
  font-weight: normal;
  font-family: 'Monospace', 'Times New Roman', Times, serif;
  color: rgb(14, 63, 82);
}

.content_contact {
  float: left;
  width: 90%;
  margin: 50px 15px;
  color: var(--First-color);

}

.content_contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: var(--Second-color);
  font-size: 40px;
}

.content_text {
  border-bottom: 3px solid;
}